<div class="product-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="product-content content-wrapper" fxLayout="row">
    <div class="product-description">
      <div class="product-name">4U 60BAY STORAGE JBOD</div>
      <div class="product-model">ZJ60B</div>
      <div class="product-features">
        <p>60-bay Dual-domain and Full Redundancy JBOD Enclosure</p>
        <p>
          High Reliability: Featuring redundant 80+ Gold power supplies,
          redundant cooling fans, and Dual-domain SAS expander controllers
        </p>
        <p>(1+1 module) maximizes server protection</p>
      </div>
      <div class="more-button">
        <img src="assets/images/learn-more-blue-btn.png" alt="" />
      </div>
    </div>
    <div class="product-images">
      <div class="main-image">
        <img src="assets/images/product_image1.png" alt="" />
      </div>
      <div class="miniatures">
        <div class="miniature active">
          <div
            id="small-image1-img"
            class="active-small-images"
            style="display: block;"
          ></div>
          <img src="assets/images/product_image1.png" alt="" />
        </div>
        <div class="miniature">
          <img src="assets/images/product_image2.png" alt="" />
        </div>
        <div class="miniature">
          <img src="assets/images/product_image3.png" alt="" />
        </div>
        <div class="miniature">
          <img src="assets/images/product_image4.png" alt="" />
        </div>
      </div>
    </div>
    <div class="product-video"></div>
  </div>
</div>
