:host {
  width: 100%;
}

.product-container {
  width: 100%;
  min-height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 30px;

  &.large:nth-child(odd) {
    -webkit-box-shadow: 0 0 6px 3px rgba(109, 193, 229, 0.35);
    -moz-box-shadow: 0 0 6px 3px rgba(109, 193, 229, 0.35);
    box-shadow: 0 0 6px 3px rgba(109, 193, 229, 0.35);
    padding: 0;
  }

  .product-description {
    width: 300px;
    height: 330px;
    margin: 10px 10px 10px 0;

    p {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 25px;
      margin-top: 25px;
      max-height: 300px;
    }
    .product-name {
      color: #000;
      font-size: 18px;
      font-weight: bold;
    }

    .product-model {
      font-size: 16px;
      color: #27a8e0;
    }
  }

  .product-images {
    width: 230px;
    height: 330px;
    display: inline-block;
    margin: 0 30px;
    .main-image {
      img {
        cursor: pointer;
        width: 225px;
        height: 160px;
        display: block;
        margin: 0 auto;
      }
    }
    .miniatures {
      .miniature {
        border: solid 1px #b2b2b2;
        margin-left: 10px;
        margin-bottom: 8px;
        width: 100px;
        height: 75px;
        display: inline-block;
        cursor: pointer;

        &:hover {
          border: solid 1px #acc4fa;
          box-shadow: 0 0 10px #acc4fa;
        }

        .active-small-images {
          position: absolute;
          height: 75px;
          width: 99px;
          background: url('/assets/images/polygon.png') no-repeat 0 0;
          background-size: contain;
        }
      }

      img {
        width: 100px;
        height: 75px;
        &.active {
          border: 1px solid blue;
        }
      }
    }
  }
}
