:host {
  width: 100%;
}

.product-container {
  width: 100%;
  min-height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;

  &:nth-child(odd) {
    -webkit-box-shadow: 0 0 6px 3px rgba(109, 193, 229, 0.35);
    -moz-box-shadow: 0 0 6px 3px rgba(109, 193, 229, 0.35);
    box-shadow: 0 0 6px 3px rgba(109, 193, 229, 0.35);
    padding: 0;
  }

  .product-description {
    margin: 10px 10px 10px 0;

    p {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 25px;
      margin-top: 25px;
      max-height: 300px;
    }
    .product-name {
      color: #000;
      font-size: 18px;
      font-weight: bold;
    }

    .product-model {
      font-size: 16px;
      color: #27a8e0;
    }
  }

  .product-images {
    display: inline-block;
    margin: 20px;

    .main-image {
      img {
        cursor: pointer;
        max-height: 160px;
        display: block;
        margin: 0 auto;
      }
    }
    .miniatures {
      .miniature {
        border: solid 1px #b2b2b2;
        margin: 8px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:hover {
          border: solid 1px #acc4fa;
          box-shadow: 0 0 10px #acc4fa;
        }

        .active-small-images {
          position: absolute;
          top: 0;
          width: 100%;
          height: 25px;
          background: url('/assets/images/polygon.png') no-repeat 0 0;
          background-size: contain;
        }
      }

      img {
        max-width: 100%;
        &.active {
          border: 1px solid blue;
        }
      }
    }
  }
}

.product-video {
  margin: 10px;

  .video-content {
    width: 122px;
    margin-right: 5px;

    .video-thumbnail {
      margin: 8px 0;
      border: solid 1px #dde2ff;
      width: 104px;
      height: 78px;
      cursor: pointer;

      &:hover {
        border: solid 1px #acc4fa;
        box-shadow: 0 0 10px #acc4fa;
      }
    }

    .video-inside-title {
      font-size: 14px;
    }

    .video-inside-descriptions {
      font-size: 12px;
      width: 100px;
    }
  }

  .video-header {
    margin-bottom: 20px;
    margin-top: 10px;

    .video-header-title {
      color: #000;
      font-size: 20px;
      margin-right: 5px;
    }

    .video-header-subtitle {
      color: #27a8e0;
      font-size: 20px;
      min-width: 70px;
    }
  }
}
