<div
  class="single-product-container"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <div class="content-wrapper">
    <div
      class="product-page-breadcrumbs"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <span class="product-page-breadcrumbs-first-title"
        >Enterprise Storage Solutions \</span
      >
      <span class="product-page-breadcrumbs-second-title">
        <a href="/Product/ListView?Category=Z%20Series">Z Series</a>
      </span>
      <span>\</span>
      <span class="product-page-breadcrumbs-third-title">ZJ60B</span>
    </div>

    <div class="top-part" fxLayout="row" fxLayout.lt-md="column">
      <div class="product-base-data">
        <span class="product-base-data-title">ZJ60B </span>
        <br />
        <br />
        <span class="product-base-data-sub-title">4U 60BAY STORAGE JBOD </span>
        <br />

        <ul class="product-blue-bullet">
          <li class="product-blue-bullet-li">
            <span class="product-base-data-descriptions"
              >60 x 3.5”/2.5" Hot-swap hard drives
            </span>
            <br />
            <br />
          </li>
          <li class="product-blue-bullet-li">
            <span class="product-base-data-descriptions"
              >High Reliability: Featuring redundant 80+ Gold power supplies,
              redundant cooling fans, and Dual-domain SAS expander controllers
            </span>
            <br />
            <br />
          </li>
          <li class="product-blue-bullet-li">
            <span class="product-base-data-descriptions"
              >(1+1 module) maximizes server protection
            </span>
            <br />
            <br />
          </li>
          <li class="product-blue-bullet-li">
            <span class="product-base-data-descriptions"
              >60-bay Dual-domain and Full Redundancy JBOD Enclosure
            </span>
          </li>
        </ul>
      </div>
      <div class="product-image" fxLayout="row" fxLayoutAlign="center">
        <img src="{{ activeImageUrl }}" alt="" />
      </div>
    </div>
    <div
      class="images-thumbnails"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutWrap
      fxLayoutGap="10px"
    >
      <div
        class="miniature-container Blue-line"
        fxFlex="24"
        *ngFor="let image of images"
      >
        <div
          class="active-small-images"
          style="display: block;"
          *ngIf="image.url == activeImageUrl"
        ></div>
        <img src="{{ image.url }}" alt="" (click)="onClickPicture(image.url)" />
      </div>
    </div>
  </div>
</div>
