<div class="thumb-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="content-wrapper">
    <div class="products-grid" fxLayout="row wrap">
      <div class="grid-element" fxLayout="column" fxLayoutAlign="start center">
        <span class="title">4U 60BAY STORAGE JBOD</span>
        <span class="subtitle">ZJ60B</span>
        <a [routerLink]="['/single-product']">
          <img src="/assets/images/product_image4.png" alt="" />
        </a>
        <p class="product-description">
          (1+1 module) maximizes server protection
        </p>
        <div
          fxLayout="row"
          class="learn-more-container"
          fxLayoutAlign="end center"
        >
          <a class="learn-more-btn-thumbs" [routerLink]="['/single-product']"
            >Learn More</a
          >
        </div>
      </div>
      <div class="grid-element" fxLayout="column" fxLayoutAlign="start center">
        <span class="title">4U 60BAY STORAGE JBOD</span>
        <span class="subtitle">ZJ60B</span>
        <a [routerLink]="['/single-product']">
          <img src="/assets/images/product_image1.png" alt="" />
        </a>
        <p class="product-description">
          (1+1 module) maximizes server protection
        </p>
        <div
          fxLayout="row"
          class="learn-more-container"
          fxLayoutAlign="end center"
        >
          <a class="learn-more-btn-thumbs" [routerLink]="['/single-product']"
            >Learn More</a
          >
        </div>
      </div>
      <div class="grid-element" fxLayout="column" fxLayoutAlign="start center">
        <span class="title">4U 60BAY STORAGE JBOD</span>
        <span class="subtitle">ZJ60B</span>
        <a [routerLink]="['/single-product']">
          <img src="/assets/images/product_image2.png" alt="" />
        </a>
        <p class="product-description">
          (1+1 module) maximizes server protection
        </p>
        <div
          fxLayout="row"
          class="learn-more-container"
          fxLayoutAlign="end center"
        >
          <a class="learn-more-btn-thumbs" [routerLink]="['/single-product']"
            >Learn More</a
          >
        </div>
      </div>
      <div class="grid-element" fxLayout="column" fxLayoutAlign="start center">
        <span class="title">4U 60BAY STORAGE JBOD</span>
        <span class="subtitle">ZJ60B</span>
        <a [routerLink]="['/single-product']">
          <img src="/assets/images/product_image3.png" alt="" />
        </a>
        <p class="product-description">
          (1+1 module) maximizes server protection
        </p>
        <div
          fxLayout="row"
          class="learn-more-container"
          fxLayoutAlign="end center"
        >
          <a class="learn-more-btn-thumbs" [routerLink]="['/single-product']"
            >Learn More</a
          >
        </div>
      </div>
      <div class="grid-element" fxLayout="column" fxLayoutAlign="start center">
        <span class="title">4U 60BAY STORAGE JBOD</span>
        <span class="subtitle">ZJ60B</span>
        <a [routerLink]="['/single-product']">
          <img src="/assets/images/product_image4.png" alt="" />
        </a>
        <p class="product-description">
          (1+1 module) maximizes server protection
        </p>
        <div
          fxLayout="row"
          class="learn-more-container"
          fxLayoutAlign="end center"
        >
          <a class="learn-more-btn-thumbs" [routerLink]="['/single-product']"
            >Learn More</a
          >
        </div>
      </div>
      <div class="grid-element" fxLayout="column" fxLayoutAlign="start center">
        <span class="title">4U 60BAY STORAGE JBOD</span>
        <span class="subtitle">ZJ60B</span>
        <a [routerLink]="['/single-product']">
          <img src="/assets/images/product_image1.png" alt="" />
        </a>
        <p class="product-description">
          (1+1 module) maximizes server protection
        </p>
        <div
          fxLayout="row"
          class="learn-more-container"
          fxLayoutAlign="end center"
        >
          <a class="learn-more-btn-thumbs" [routerLink]="['/single-product']"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
